::selection {
  background: mediumorchid;
  color: #030103;
}

:any-link {
  color: #528;
}

.daisy {
  background: mistyrose;
  color: #535;
}

.disco {
  background: #ee1;
  color: #235;
}

.grass {
  background: #be9;
  color: #213;
}

.swoon {
  background: #faabee;
  color: #235;
}

.suave {
  background: #bae;
  color: #312;
}
