::selection {
  background: mediumorchid;
  color: #030103;
}

:any-link {
  color: #528;
}

.daisy {
  background: mistyrose;
  color: #535;
}

.disco {
  background: #ee1;
  color: #235;
}

.grass {
  background: #be9;
  color: #213;
}

.swoon {
  background: #faabee;
  color: #235;
}

.gloss {
  background: #bae;
  color: #312;
}

@media (prefers-color-scheme: dark) {
  .daisy {
    background: #518;
    color: pink;
  }
  
  .disco {
    background: transparent;
    color: #ee3;
  }
  
  .grass {
    background: transparent;
    color: #be9;
  }
  
  .swoon {
    background: transparent;
    color: #faabee;
  }

  .gloss {
    background: transparent;
    color: #bae;
  }
}
