::selection {
  background: darkorchid;
  color: #bee;
}

:any-link {
  color: #528;
}

.daisy {
  background: mistyrose;
  color: #535;
}

.disco {
  background: #ee1;
  color: #235;
}

.grass {
  background: chartreuse;
  color: #213;
}

.swoon {
  background: pink;
  color: #235;
}

.suave {
  background: #bae;
  color: #315;
}
