* { 
  box-sizing: border-box;
}

html { 
  font-size: max(3ex, 3vmax + 2vmin);
  font-family: sans-serif;
  line-height: calc(55 / 34);
}

body { 
  margin: auto;
  overflow-wrap: anywhere;
}

article {
  font-family: sans-serif;
  contain: layout;
  margin: auto;
  min-height: 100vh;
  padding: 1em 1em 2em;
}

header {
  box-sizing: border-box;
  font-size: 2em;
  font-weight: bold;
}

footer,
h1 {
  font-size: 1.618em;
  font-weight: 500;
  margin-block: 1.618rem;
}

p {
  margin: 1.618rem 0;
}

footer {
  font-size: 1.618em;
  font-weight: 500;
  margin-block: 1.618rem;
}

:focus {
  border-radius: 10%;
  outline: thick dotted;
}

:any-link:active {
  border-radius: 20%;
  outline-offset: 1ex;
}
